table {
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead th {
    background-color: rgb(187, 0, 31);
    color: #ffffff;
}

th {
    position: sticky;
    top: 0;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid rgb(187, 0, 31);
}

th,
td {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

h1 {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

header {
    background-color: rgb(187, 0, 31);
    padding: 15px;
    margin: 0;
}

a {
    color: white;
    margin-right: 5px;
}

div {
    margin: 8px;
}

body {
    margin: 0;
    padding: 0;
}

.inline-block {
    display: inline-block;
    text-align: top;
}

.sub-header {
    margin-top: 0;
}

@media only screen 
and (max-width: 1250px) {
    header {
        width: 225%;
    }
}

a {
    margin-right: 5px;
}

td a {
    color: black;
}